#main_container {
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	align-items: flex-end;
	justify-content: space-around;
}

#control {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: auto;
	height: auto;
	margin: 3%;

	background-color: #eee;

	padding: 2%;
}

.control_group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.control_button_group {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	width: 100%;

	margin-bottom: 10%;
}

.control_button {
	margin: 0px 3%;

	white-space:nowrap;
}

.control_header {
	background-color: #fff;
	border: none;

	font-size: 2em;
}

.collapsible {
	cursor: pointer;
}

.collapsible:after {
	content: ' \02795'; /* plus sign */
}

.collapsible.active:after {
	content: ' \02796'; /* minus sign */
}

.collapsed {
	display: none;
}

#mainCanvas {
	border: 3px solid #aaa;
	margin: 3%;
}

#matrix_container {
	border-collapse: collapse;
}

.matrix_element {
	text-align: center;
}

.matrix_button {
	margin: auto;
	padding: auto;
	width: 30px;
	height: auto;
}
