body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#control {
	display: flex;
	align items: center;
	justify-content: center;

	margin: 30px;
	width: 700px;
}

#mainCanvas {
	border: 3px solid #aaa;
}
